---
import Layout from '../layouts/Layout.astro';
import CardCategoria from '../components/CardCategoria.astro';
import menuData from '../data/menu.json';
import NavBar from '../components/NavBar.astro';
---
<Layout title="Willy Burger — Menú Digital">
  <h1 class="font-display text-4xl font-extrabold text-charcoal title-case mb-8">
    Nuestra carta
  </h1>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
    {menuData.categorias.map((categoria) => (
      <CardCategoria categoria={categoria} />
    ))}
  </div>
</Layout>
